html, body {
    margin: 0px;
    background-color: rgb(225, 179, 70);
}

.titulo {
    text-align: center;
    background-color: rgb(46, 51, 124);
    color: white;
    padding: 20px;
    font-size: 25px;
}

.row {
    color: white;
}

.carta {
    width: 175px;
    position: relative;
    left: 100px;
    margin-left: -75px;
    transition: transform 0.5s;
}

.carta:hover {
    transform: rotate(-10deg);
}


#computadora-cartas, #jugador-cartas {
    height: 260px;
   

}